*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ajuste mieux les boites, meilleure organisation */
    list-style-type: none;
    outline: none;

}

li {
    list-style: none; /* pas de points pour les listes */
}

body{ /*display block(prend toute la largeur de la page) et margin 8px de base */
    min-height: 100vh;
    background: url(./assets/img/nature.jpg) fixed center/cover;
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white;
    display: flex;
    align-items: center; /* aligne veticalement les éléments */
    justify-content: center; /* aligne horizontalement les éléments */
    overflow: hidden; /* cache tout ce qui dépasse du body (vaisseau qui sort de l'écran */
}


.presentation
{
    background:  rgba(0, 0, 0, 0.877);
    height: 100vh;
    width: 100vw;
     
}




ul{
 
    text-align: center;
}

li{
    margin: 10%;
    
}

a{
    background: whitesmoke;
    border: none;
    padding: 10px 0;
    color: black;
    border-radius: 150px;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
    outline: none;
    max-width: 250px;
    text-decoration: none;
    user-select: none;
    opacity: initial;
}

a:hover {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}

a:active{
    transform: scale(1.2);  
  }


@media screen and (max-width: 870px) { /* Tablette, actif si max-width à 870px */
}
  
@media screen and (max-width: 650px) { /* Mobile, actif si max-width à 650px */
}




